* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace;
}

body {
  background: #242424;
  width: 65%;
  max-width: 1200px;
  margin: 40px auto;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.6;
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: fadeIn 0.8s ease;
  gap: 50px;
}

@media (max-width: 768px) {
  body {
    width: 90%;
    margin: 20px auto;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
